SELECT{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: 1em;
	color: black;
	background-color: white;

	min-width: 100%;
	max-width: 100%;
	width: 100%;

	/*width:auto;*/
	border: 1px solid grey;
	border-style: inset;
	border-width: 2px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	text-overflow: ellipsis;
	/*BUGBUG overflow: for adding a scroll bar doesnt work?? do we have to Size on the HTML itself? NO to Size in HTML*/
    /*overflow: scroll;	*/
}

LABEL{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: 1em;
	color: black;
	background-color: #C0C0C0;
}

.LABELSTEP{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: 1.25em;
	display: inline-block;
	color: black;
	width: 100%;
	text-align: center;
	background-color: #C0C0C0;
}


.LABELBUGBUG{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: 1em;
	color: red;
	background-color: #C0C0C0;
}

.LABELINFO{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: 0.65em;
	color: black;
	background-color: #C0C0C0;
}


INPUT{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: 1em;
	color: black;
	background-color: white;
	border: 2px solid grey;
	border-style: inset;
}

.readOnlyInput{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: 1em;
	color: blue;
	display: inline-block;
	
	min-width: 98%;
	max-width: 98%;
	width: 98%;
	
	background-color: #C0C0C0;
	display:inline-block;
	border-style: inset;
	border-width: 2px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
}

BUTTON{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1em;
	color: black;
	background-color: #C0C0C0;
}

DIV{
	padding: 3px;
	background-color: #C0C0C0;
}

SPAN{
	display: inline-block;
	width: 19%;
}

.span100{
	display: inline-block;
	min-width: 99%;
	max-width: 99%;
	width: 99%;
	text-align: center;
}

.span75{
	display: inline-block;
	min-width: 73%;
	max-width: 73%;
	width: 73%;
}

.span66{
	display: inline-block;
	min-width: 64%;
	max-width: 64%;
	width: 64%;
}

.span50{
	display: inline-block;
	min-width: 48%;
	max-width: 48%;
	width: 48%;
}

.span25{
	display: inline-block;
	min-width: 23%;
	max-width: 23%;
	width: 23%;
}

.span33{
	display: inline-block;
	min-width: 31%;
	max-width: 31%;
	width: 31%;
}


.span22{
	display: inline-block;
	min-width: 22%;
	max-width: 22%;
	width: 22%;
}

.span17{
	display: inline-block;
	min-width: 17%;
	max-width: 17%;
	width: 17%;
}

.span10{
	display: inline-block;
	min-width: 10%;
	max-width: 10%;
	width: 10%;
}


.divBreak
{
	padding: 3px;
	background-color: #C0C0C0;
}

/*












.fontStandard {
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: 1em;
	color: black;
	background-color: #C0C0C0;
}

.fontStandard {
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: 1em;
	color: black;
	background-color: #C0C0C0;
}

.fontFaceStandard {
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
}

.fontSizeStandard {
	font-size: 1em;
}

.fontColorStandard {
	color: black;
	background-color: #C0C0C0;
}


.fontSizeLarge {
	font-size: 1.25em;
}



.labelStepHelp fontLarge {

}


.labelStepTitle {

}


.labelStandard
{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: 1.25em;
	text-align: center;
	color: black;
	background-color: #C0C0C0;
	width: auto;
}


.labelNotices
{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: 1em;
	color: black;
	background-color: #C0C0C0;
	width: auto;
}

.spanLabelStep
{
	align: center;
	background-color: #C0C0C0;
}


.divStandard
{
	padding: 5px;
	background-color: #C0C0C0;
}

.spanLeftIndent
{
	width: 40px;
	float:left
	color: #CC0000;
}

.spanStandard
{
	width: auto;
	background-color: #C0C0C0;
}



.selectStandard{
	color: black;
	background-color: white;
	width:auto;
}
*/