SELECT{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: .8em;
	color: black;
	background-color: white;

	/*
	min-width: 100%;
	max-width: 100%;
	width: 100%;*/

	/*width:auto;*/
	border: 1px solid grey;
	border-style: inset;
	border-width: 2px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	text-overflow: ellipsis;
}

.selectDirection{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: .8em;
	color: black;
	background-color: white;

	min-width: 2em;
	max-width: 6em;
	width: 4em;

	/*width:auto;*/
	border: 1px solid grey;
	border-style: inset;
	border-width: 2px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	text-overflow: ellipsis;
}

.selectDirection{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: .8em;
	color: black;
	background-color: white;

	min-width: 6em;
	max-width: 15em;
	width: 10em;

	/*width:auto;*/
	border: 1px solid grey;
	border-style: inset;
	border-width: 2px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	text-overflow: ellipsis;
}


.textDegree{
	min-width: 2em;
	max-width: 10em;
	width: 4em;
}

.textMinute{
	min-width: 2em;
	max-width: 10em;
	width: 4em;
}

.textSecond{
	min-width: 5em;
	max-width: 15em;
	width: 8em;
}




LABEL{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: .8em;
	color: black;
	background-color: #C0C0C0;
}

.LABELSTEP{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: 1em;
	display: inline-block;
	color: black;
	width: 100%;
	text-align: center;
	background-color: #C0C0C0;
}


.LABELBUGBUG{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: .8em;
	color: red;
	background-color: #C0C0C0;
}

.LABELINFO{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: 0.55em;
	color: black;
	background-color: #C0C0C0;
}


INPUT{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: .8em;
	color: black;
	background-color: white;
	border: 2px solid grey;
	border-style: inset;
}

.readOnlyInput{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: .8em;
	color: blue;
	display: inline-block;
	
	min-width: 99%;
	max-width: 99%;
	width: 99%;	
	
	background-color: #C0C0C0;
	display:inline-block;
	border-style: inset;
	border-width: 2px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
}

.readOnlyInputSmall{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-size: .8em;
	color: blue;
	display: inline-block;
	
	min-width:12%;
	max-width: 12%;
	width: 12%;
	
	
	background-color: #C0C0C0;
	display:inline-block;
	border-style: inset;
	border-width: 2px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
}


BUTTON{
	font-family: "Helvetica", Ariel, Sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: .8em;
	color: black;
	background-color: #C0C0C0;
}

DIV{
	padding: 3px;
	background-color: #C0C0C0;
}

SPAN{
	display: inline-block;
	width: 19%;
}

.span100{
	display: inline-block;
	min-width: 99%;
	max-width: 99%;
	width: 99%;
	text-align: center;
}

.span75{
	display: inline-block;
	min-width: 73%;
	max-width: 73%;
	width: 73%;
}

.span66{
	display: inline-block;
	min-width: 64%;
	max-width: 64%;
	width: 64%;
}

.span50{
	display: inline-block;
	min-width: 48%;
	max-width: 48%;
	width: 48%;
}

.span25{
	display: inline-block;
	min-width: 23%;
	max-width: 23%;
	width: 23%;
}

.span33{
	display: inline-block;
	min-width: 31%;
	max-width: 31%;
	width: 31%;
}


.span22{
	display: inline-block;
	min-width: 22%;
	max-width: 22%;
	width: 22%;
}

.span17{
	display: inline-block;
	min-width: 16%;
	max-width: 16%;
	width: 16%;
}

.span83{
	display: inline-block;
	min-width: 82%;
	max-width: 82%;
	width: 82%;
}

.span10{
	display: inline-block;
	min-width: 10%;
	max-width: 10%;
	width: 10%;
}


.divBreak
{
	padding: 3px;
	background-color: #C0C0C0;
}

